<h1>Messages</h1>

<%= link_to 'Create Message', new_prototype_message_path, class: "btn btn-primary" %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Message Body</th>
        <th>Response 1</th>
        <th>Response 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Example Title</td>
        <td>Read Only</td>
        <td>AHHHHHHHHH!</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>