<div>
  <h1>Messages</h1>
</div>

<br />

<div>
  <%= link_to 'Create Message', new_prototype_message_path, class: "btn btn-primary" %>
</div>

<br />

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to 'Message 1', prototype_message_path(1) %></td>
        <td>Appointment Reminder</td>
      </tr>
      <tr>
        <td>Message 2</td>
        <td>Multiple Choice</td>
      </tr>
      <tr>
        <td>Message 3</td>
        <td>Multiple Choice</td>
      </tr>
      <tr>
        <td>Message 4</td>
        <td>External Link</td>
      </tr>
      <tr>
        <td>Message 5</td>
        <td>Read Only</td>
      </tr>
      <tr>
        <td>Message 6</td>
        <td>Read Only</td>
      </tr>
    </tbody>
  </table>
</div>
