<h1>Message Detail</h1>

<br />

<h2>Message 1</h2>

<br />

<div>
  <h5>Message Type:</h5>
  <p>Appointment Reminder</p>
</div>

<div>
  <h5>Message Body</h5>
  <p>This is a reminder that you have an appointment tomorrow at 9:am! Thanks!</p>
  <h5>Response Options:</h5>
  <ol>
    <li>--</li>
    <li>--</li>
  </ol>
</div>
