<div>
  <h1>Participant Activity</h1>
</div>

<br />

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Participant ID</th>
        <th>Notification Sent</th>
        <th>Response Time</th>
        <th>Message Type</th>
        <th>Message Title</th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>23983</td>
        <td>December 18, 2016 10:28</td>
        <td>--</td>
        <td>Appointment Reminder</td>
        <td>Message 1</td>
        <td>--</td>
      </tr>
      <tr class="bg-success">
        <td>23983</td>
        <td>January 10, 2017 16:34</td>
        <td>January 10, 2017 16:35</td>
        <td>Multiple Choice</td>
        <td>Message 2</td>
        <td>4</td>
      </tr>
      <tr class="bg-success">
        <td>23983</td>
        <td>February 17, 2017 18:24</td>
        <td>February 18, 2017 06:24</td>
        <td>Multiple Choice</td>
        <td>Message 3</td>
        <td>Washington D.C.</td>
      </tr>
      <tr>
        <td>73453</td>
        <td>May 8, 2017 11:28</td>
        <td>--</td>
        <td>External Link</td>
        <td>Message 4</td>
        <td>--</td>
      </tr>
      <tr>
        <td>45343</td>
        <td>June 30, 2017 09:59</td>
        <td>--</td>
        <td>Read Only</td>
        <td>Message 5</td>
        <td>--</td>
      </tr>
      <tr class="bg-danger">
        <td>23297</td>
        <td>June 12, 2017 06:15</td>
        <td>--</td>
        <td>Multiple Choice</td>
        <td>Message 3</td>
        <td>No Response</td>
      </tr>
      <tr>
        <td>19994</td>
        <td>July 4, 2017 19:01</td>
        <td>--</td>
        <td>Read Only</td>
        <td>Message 6</td>
        <td>--</td>
      </tr>
      <tr>
        <td>82342</td>
        <td>August 1, 2017 12:32</td>
        <td>August 1, 2017 12:32</td>
        <td>Appointment Reminder</td>
        <td>Message 1</td>
        <td>--</td>
      </tr>
      <tr class="bg-danger">
        <td>23297</td>
        <td>September 19, 2017 11:11</td>
        <td>--</td>
        <td>Multiple Choice</td>
        <td>Message 2</td>
        <td>No Response</td>
      </tr>
    </tbody>
  </table>
</div>
