<div>
  <h1>Participant Activity</h1>
</div>

<br />

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Participant ID</th>
        <th>Message Type</th>
        <th>Message Title</th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
