<div>
  <h1>Notifications</h1>
</div>

<br />

<div>
  <%= link_to 'Create & Send Notification', new_prototype_notification_path, class: "btn btn-primary" %>
</div>

<br />

<div>
  <h3>Scheduled and Sent Notifications</h3>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Notification #</th>
        <th>Participant ID</th>
        <th>Message Title</th>
        <th>Type</th>
        <th>Time Scheduled</th>
        <th>Sent?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>23983</td>
        <td>Message 1</td>
        <td>Appointment Reminder</td>
        <td>December 18, 2016 10:28</td>
        <th>True</th>
      </tr>
      <tr>
        <td>2</td>
        <td>23983</td>
        <td>Message 2</td>
        <td>Multiple Choice</td>
        <td>January 10, 2017 16:34</td>
        <th>True</th>
      </tr>
      <tr>
        <td>3</td>
        <td>23983</td>
        <td>Message 3</td>
        <td>Multiple Choice</td>
        <td>February 17, 2017 18:24</td>
        <th>True</th>
      </tr>
      <tr>
        <td>4</td>
        <td>73453</td>
        <td>Message 4</td>
        <td>External Link</td>
        <td>May 8, 2017 11:28</td>
        <th>False</th>
      </tr>
      <tr>
        <td>5</td>
        <td>45343</td>
        <td>Message 5</td>
        <td>Read Only</td>
        <td>June 30, 2017 09:59</td>
        <th>True</th>
      </tr>
      <tr>
        <td>6</td>
        <td>23297</td>
        <td>Message 3</td>
        <td>Multiple Choice</td>
        <td>June 12, 2017 06:15</td>
        <th>True</th>
      </tr>
      <tr>
        <td>7</td>
        <td>19994</td>
        <td>Message 6</td>
        <td>Read Only</td>
        <td>July 4, 2017 19:01</td>
        <th>True</th>
      </tr>
      <tr>
        <td>8</td>
        <td>82342</td>
        <td>Message 1</td>
        <td>Appointment Reminder</td>
        <td>August 1, 2017 12:32</td>
        <th>True</th>
      </tr>
      <tr>
        <td>9</td>
        <td>23297</td>
        <td>Message 2</td>
        <td>Multiple Choice</td>
        <td>September 19, 2017 11:11</td>
        <th>False</th>
      </tr>
    </tbody>
  </table>
</div>
