<div>
  <h1>New Notification</h1>
</div>

<br />

<form>
  <div class="form-group">
    <label for="participantId">Participant ID</label>
    <input type="text" class="form-control" placeholder="Enter Participant ID...">
  </div>
  <div class="form-group">
    <label for="selectMessage">Message Title</label>
    <select class="form-control" placeholder="Choose Message...">
      <option>Message 1</option>
      <option>Message 2</option>
      <option>Message 3</option>
      <option>Message 4</option>
      <option>Message 5</option>
      <option>Message 6</option>
    </select>
  </div>

  <%= link_to "Send", prototype_notifications_path, class: "btn btn-primary" %>
  <%= link_to "Cancel", prototype_notifications_path, class: "btn btn-danger" %>
</form>
